.blog{
    margin: 0 auto;
    width: 70%;
   
}
.title{
    text-align: center;
}
.blog-contain{
     
     width: 450px;
     margin: 0 auto;
     
}

.blog-body{
    width: 250px;
    margin-left: 20px;
   

}
.blog-answer{
    width: 450px;
    margin: 0 auto;
    
}