.footer-section{
    margin-top: 30px;
    height: 400px;
    background-color: darkslategrey;
}
.footer-contain{
    justify-content:center;
    
}
.footer-card{
    background-color: blue;
    margin-top: 30px;
    margin-left: 50px;
    width: 300px;
    justify-content: space-between;
    
}