.about-contain{
    padding-top: 5%;
    margin: 0 auto;
    width: 40%;
}
.about-container{
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 auto;
    
}
.about-img{
    padding-bottom: 20px;
    margin: 0 auto;
    width: 50%;
}